.profileCardContent {
  background-color: var(--gray-600);
  border-radius: 8px;
  overflow: hidden;
  width: 256px;
}

.profileCardHeader {
  position: relative;
  width: 100%;
}

.profileCardCover {
  height: 72px;
  width: 100%;
  object-fit: cover;
}

.profileCardHeader img + img {
  position: absolute;
  top: 18px;
  left: calc(152px / 2);
}

.profileCardTitle {
  color: var(--gray-100);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
}

.profileCardSubtitle {
  color: var(--gray-300);
  font-size: 0.875rem;
  line-height: 1.6;
}

.profileCardInfo {
  border-bottom: var(--gray-500) 1px solid;
  padding: 68px 0px 24px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileCardFooter {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px 32px 24px 32px;
}

.profileCardButton {
  align-items: center;
  background-color: var(--gray-600);
  border: var(--light-green) 2px solid;
  border-radius: 8px;
  color: var(--light-green);
  display: flex;
  gap: 10px;
  height: 50px;
  justify-content: center;
  margin: 0 auto;
  width: 192px;
  font-weight: 700;
  transition: background-color 100ms;
}

.profileCardButton:hover {
  background-color: var(--light-green);
  color: var(--white);
  cursor: pointer;
}

.profileCardButton > p {
  font-size: 1rem;
}