.postCard {
  background-color: var(--gray-600);
  border-radius: 8px;
  overflow: hidden;
  padding: 2.5rem;
  width: 100%;
}

.postCard + .postCard {
  margin-top: 2rem;
}

.postCard > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.postCardAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.postCard > header > time {
  font-size: 0.875rem;
  color: var(--gray-300);
  line-height: 1.6;
}

.postCardAuthorInfo > strong {
  display: block;
  color: var(--gray-100);
  font-weight: 700;
  line-height: 1.6;
}

.postCardAuthorInfo > span {
  display: block;
  font-size: 0.875rem;
  color: var(--gray-300);
  line-height: 1.6;
}

.postCardMessage {
  color: var(--gray-200);
  line-height: 1.6;
  margin-top: 1.625rem;
}

.postCardMessage a {
  color: var(--light-green);
  font-weight: 700;
  text-decoration: none;
}

.postCardMessage a:hover {
  background-color: var(--light-green);
  color: var(--white);
}

.postCardForm {
  border-top: 1px solid var(--gray-500);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
}

.postCardForm > strong {
  color: var(--gray-100);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
}

.postCardForm > textarea {
  background-color: var(--gray-700);
  border: none;
  border-radius: 8px;
  color: var(--gray-200);
  height: 6rem;
  margin-top: 1rem;
  padding: 0.875rem 1rem;
  resize: none;
  width: 100%;
}

.postCardForm:focus-within .postCardButtonWrapper {
  visibility: visible;
  max-height: none;
}

.postCardButtonWrapper {
  visibility: hidden;
  max-height: 0;
}

.postCardButtonWrapper > button {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-green);
  border: none;
  border-radius: 8px;
  transition: background-color 100ms;
}

.postCardButtonWrapper > button:hover {
  background-color: var(--light-green);
  cursor: pointer;
}

.postCardComments {
  margin-top: 2rem;
}
